
#swipper-chicken-banner .swiper-pagination {
    bottom: 100px !important;
}

#swipper-chicken-banner .swiper-pagination-bullet {
  background: #FFFFFF !important;
  opacity: 50%;
}

#swipper-chicken-banner .swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;
  background: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
  opacity: inherit !important;
}

#swipper-chicken-banner .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 3px;
  margin-left: -9px;
  width: 18px;
  height: 18px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  box-sizing: border-box;
}
